[Unit]
Description=Deployed Server
After=network.target
StartLimitIntervalSec=0
[Service]
Environment=PATH=/usr/bin/
Type=simple
Restart=always
User=%u
ExecStart=/usr/bin/golemsp run
[Install]
WantedBy=multi-user.target
