[Unit]
Description=Deployed Server
After=network.target
StartLimitIntervalSec=0
[Service]
Environment=PATH=/root/.local/bin/
Type=simple
Restart=always
User=%u
ExecStart=/root/.local/bin/golemsp run
[Install]
WantedBy=multi-user.target
